[Unit]
Description=Scanners Incheck UvA-gebouw
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/BuildingScansReader/read_events.py
User=pi

[Install]
WantedBy=multi-user.target
